.photo-list__fav-icon {
  position: relative;
  top: 8px;
  right: -8px;
  cursor: pointer;
  border-width: 0.1px;
  margin-bottom: -30px;
  background-color: #EEEEEE;
  width: 32px;
  height: 32px;
  border-radius: 50%; /* Use 50% for a circle */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.photo-list__fav-icon-active {
  /* Define styles for the active state here, e.g., background color or icon */
  background-color: red;
}

.photo-list__fav-icon-inactive {
  /* Define styles for the inactive state here, e.g., default background color or icon */
  background-color: #EEEEEE;
}

