.photo-list__fav-icon {
  position: relative;
  top: 8px;
  right: -8px;
  cursor: pointer;
  margin-bottom: -30px;
  border-width: 0.1px;
  background-color: #EEEEEE;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 100%;
}

.photo-list__fav-icon-active {
  /* Define styles for the active state here, e.g., background color or icon */
  background-color: red;
}

.photo-list__fav-icon-inactive {
  /* Define styles for the inactive state here, e.g., default background color or icon */
  background-color: #EEEEEE;
}
